# Python compiled sources
*.pyc
__pycache__/

# Project files
/venv/

# Packaging
/.cache/
/.eggs/
/build/
/dist/
/src/*.egg-info
/wheelhouse/

# Testing
/.tox/

# Python coverage
/.coverage
/coverage.xml
/htmlcov/
